html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Roboto",
		sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1e1e1e;
		color: #fefefe;
	}
}
